pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
node_modules/
.shadow-cljs/
.cpcache/
.nrepl-port
.calva
.lsp
pom.xml
.webly
creds.edn
*_version.edn
shadow-cljs.edn
package.json
package-lock.json
karma.conf.js
goldly_bindings_generated.cljs

goldly-test/node_modules/
goldly-test/target/

goldly-docs/node_modules/
goldly-docs/target/

profiles/docsci/node_modules/
profiles/docsci/target/
profiles/docsci/deps.edn

docs/
