pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
node_modules/
.shadow-cljs/
nrepl-snippets.txt
nrepl.txt
nrepl-published.txt
creds.edn
.calva
.lsp
shadow-cljs.edn
package.json
package-lock.json
karma.conf.js
goldly_bindings_generated.cljs
bundel/node_modules/
bundel/target/
bundel/deps.edn
.webly
profiles/bundel/node_modules/
profiles/bundel/target/