{:paths ["script"
         "target/node_modules"]
 :deps {babashka/fs {:mvn/version "0.1.1"}
        ;borkdude/gh-release-artifact
       ; {:git/url "https://github.com/borkdude/gh-release-artifact"
       ;  :sha "2f8898d84126a4e922c490f8614211a8b0cf67cd"}
       ; com.github.liquidz/antq {:mvn/version "RELEASE"}
       ; 
        }

 :tasks {:requires [webly
                    [clojure.edn :as edn]
                    [babashka.fs :as fs]]
         ; dev tools
         lint (webly/clojure "goldly" "-M:lint"
                             "." ; "../goldly-test"
)  ; "../goldly-docs" nothing to lint in goldly-docs
         cljfmt-check (webly/clojure "goldly" "-M:cljfmt" "check"
                                     "."
                                     "../goldly-docs"
                                     "../goldly-test")
         cljfmt-fix (webly/clojure "goldly" "-M:cljfmt" "fix"
                                   "."
                                   ;"../scratchpad"
                                   "../devtools"
                                   "../goldly-docs"
                                   "../goldly-test")
         deps-tree (webly/clojure "goldly" "-X:deps" "tree")
         outdated (do (webly/clojure "goldly" "-M:outdated")
                      ;(webly/clojure "devtools" "-M:outdated")
                     ; (webly/clojure "goldly-docs" "-M:outdated" )
                      (webly/clojure "goldly-docs" "-Tantq" "outdated")
                    )

         ; build
         clean (do (webly/clean-project ".")
                   (webly/clean-project "./goldly")
                   (webly/clean-project "./goldly-docs")
                   (webly/clean-project "./goldly-test")
                   (webly/clean-project "./devtools")
                  ; (webly/clean-project "./scratchpad")
                   
                   )
         npm-install (webly/run "goldly-docs" "docs-build" "npm-install")
         build-ci (webly/run "goldly-docs" "docs-ci" "ci")
         build-ci-adv (webly/run "goldly-docs" "docs-build" "release-adv")

         ;copy-resources (shell {:dir "goldly-docs"} "../script/copy_res.sh")
         ;get-fonts  (shell {:dir "goldly-docs"} "../script/get-fonts.sh")

         build {:depends [npm-install
                          build-ci
                          ;tailwind-girouette-webly
                          ;copy-resources
                          ;get-fonts
                          ]
                :task (shell "echo" "cljs bundle has been built!")}

         ; tests
         test-clj (webly/clojure "goldly" "-M:test-clj")
         ;test-cljs (shell {:dir "goldly-docs"} "npm" "test")

         ;; CI
         ci-check {:depends [cljfmt-check
                             build
                             test-clj
                             ;test-cljs
                             ]
                   :task (shell "echo" "ci checks are ok!")}

         commit-check {:doc "if this succeeds, then the github ci pipeline will work too."
                       :depends [clean
                                 cljfmt-fix
                                 ci-check]
                       :task (shell "echo" "all good - you can push to github")}

         ; DOCS BUILD

         copy-static {:doc "Prepares the static page"
                      :task (do (fs/delete-tree "docs")
                                ;(fs/create-dirs "docs/r/webly")
                                (fs/create-dirs "docs/r")
                                (fs/copy-tree "goldly-docs/target/webly/public" "docs" {:replace-existing true})
                                ;(fs/copy-tree "goldly-docs/target/node_modules/public" "docs/r" {:replace-existing true})
                                ;(fs/copy-tree "goldly-docs/target/res/public" "docs/r" {:replace-existing true})
                                )}

         jar {:doc "Builds the jar"
              :task (webly/clojure "goldly-docs" "-T:build-jar" "jar")}

         goldly-docs-build {:doc "Build goldly-docs, but don't deploy"
                            :depends [clean
                                      npm-install
                                      build-ci-adv
                                      jar
                                      copy-static]
                            :task (shell "echo" "cljs bundle has been built!")}

         show-docs-jar (shell "fastjar" "tf" "goldly-docs/target/goldly-docs-0.4.507.jar")


         clojars {:doc "Deploys the jar to clojars"
                  :task (webly/clojure "goldly-docs" "-T:build-jar" "deploy")}

         tag {:doc "Tags release and pushes tag to Github."
              :task (let [version (-> (slurp "goldly-docs/resources/META-INF/pink-gorilla/goldly-docs/meta.edn")
                                      edn/read-string
                                      :version)
                          tag (str "v" version)]
                      (shell "git tag" tag)
                      (shell "git push origin" tag))}

         ci-goldly-docs-deploy {:doc "Deploys goldly-docs to clojars"
                 ;; ensure sequential order becauce tag reads from info.edn made
                 ;; by build.clj
                                :task (do (run 'goldly-docs-build)
                                          (run 'clojars)
                                          (run 'tag))}

         goldly-jar {:doc "Builds the jar"
                     :task (webly/clojure "goldly" "-T:build" "jar")}

         ci-goldly-deploy {:doc "Deploys goldly to clojars"
                           :task  (do (run 'goldly-jar)
                                      (webly/clojure "goldly" "-T:build" "deploy"))}


         jar-extract {:doc "Extracts generated jar (for debugging)"
                      :task (shell {:dir "goldly-docs/target"} "fastjar" "xf" "webly-0.4.516.jar")}

         ;; devtest

        ; devtest-webserver-https (webly/clojure "webserver" "-X:webserver")

         ;; goldly-test
         goldly-test {:doc "goldly-test with shadow-cljs watch"
                      :task (do  ;(run 'tailwind-girouette-webly)
                              (webly/run "goldly-test" "goldly" "watch2"))}


         ;; goldly-docs

         goldly-docs {:doc "goldly docs with shadow-cljs watch"
                      :task (do  ;(run 'tailwind-girouette-webly)
                              (webly/clojure "goldly-docs" "-X:docs-build" ":profile" "npm-install")
                              (webly/clojure "goldly-docs" "-X:docs-run" ":profile" "watch2"))}
         goldly-docs-tenx {:doc "goldly docs with shadow-cljs watch"
                           :task (do  (webly/run "goldly-docs" "goldly" "watch"))}
         goldly-docs-compile {:doc "compile goldly docs javascript"
                              :task (webly/run "goldly-docs" "goldly" "release")}
         goldly-docs-jetty {:doc "serve compiled goldly docs javascript with jetty"
                            :task (webly/run "goldly-docs" "goldly" "jetty")}



         nbeval {:doc "evaluates notebooks"
                 :task (webly/clojure "goldly-docs" "-X:nbeval")}


 ;        
         }}