{:lein {:profile "+cljs"}, :dev-http {9000 {:handler goldly.app/handler}}, :http {:port 9001, :host "localhost"}, :nrepl {:port 9002}, :builds {:webly {:target :browser, :output-dir "target/webly/public", :asset-path "/r", :modules {:main {:entries [goldly.app]}}, :compiler-options {:optimizations :simple}}, :ci {:target :karma, :output-to "target/ci.js", :ns-regexp "-test$"}}}