{:lein {:profile "+demo"}, :dev-http {8000 {:handler webly.user.app.app/ring-handler}}, :http {:port 8001, :host "localhost"}, :nrepl {:port 8002}, :builds {:webly {:target :browser, :output-dir "target/webly/public", :asset-path "/r", :modules {:main {:entries [demo.app]}}, :build-options {:ns-aliases {webly.user.tenx.events webly.user.tenx.events-on}}, :compiler-options {:optimizations :simple, :output-feature-set :es8}}, :ci {:target :karma, :output-to "target/ci.js", :ns-regexp "-test$"}}}