



 :goldly {:enabled true
          :lazy true
          :src-dir "src"
          :autoload-clj-ns [systems.snippet-registry
                            systems.snippet-scratchpad]
          :notebook-dir "goldly/notebooks"
          :routes {:app
                     {"demo" #bidi.bidi.TaggedMatch{:matched :goldly/system, :tag :hello-user}
                     ; taggedmatch cannot be read by normal clojure edn reader,
                    ; so if using taggedmatch, config needs to be in edn file.
                      "" :user/main
                      "info" :user/info
                      "error" :user/error}
                     :api {}}