{:webly {:title "Goldly"
         :icon "/r/webly/pink-gorilla-32.png"
         :lein-cljs-profile "+demo"
         :ns-cljs-app [demo.app]
         :bundle-entry  "demo.app.start ();"
         :start-user-app [:demo/init]
         :user-routes-app "demo.routes/routes-app"
         :user-routes-api "demo.routes/routes-api"}

 :google-analytics {:enabled true} ; set to false to disable google-analytics tracking.


 :timbre-loglevel [[#{"org.eclipse.jetty.*"} :info]
                   [#{"webly.ws.*"} :info]
                   [#{"webly.user.*"} :info]
                   [#{"goldly.*"} :info]
                   [#{"systems.time"} :warn]
                   [#{"*"} :debug]]

; :keybindings "pinkgorilla.notebook-ui.keybindings/keybindings-default"

 :settings {; settings can be changed by user (via dialog)
            ; :use-localstorage is true: load settings from localstorage, and only use
            ; config-settings to initialize the app when localstorage is empty
            :use-localstorage  false}

 :goldly {;:app-systems-dir "./src/systems/"
          :app-systems-ns [systems.click-counter
                           systems.greeter
                           systems.fortune
                           systems.time
                           systems.error
                           ;systems.components
                           ;systems.snippets
                           ]
          :user-systems-dir nil}}