{:modular (modular.system/modular-env)  ; {:profile "jetty"  :config ["demo.edn" "secrets.edn"]}
 ;:secrets #include "secrets.edn" ;; externalised and usually "mounted" as a docker/kubernetes secret
 :components
 {:config {:start (modular.config/load-config! (:config #ref [:modular]))}

  :timbre {:start (modular.log/timbre-config!
                  (:timbre/clj (deref (clip/ref :config))))}
  
  :webly {:start (webly.app.app/start-webly
                (deref (clip/ref :config))
                (:profile #ref [:modular]))
        :stop (webly.app.app/stop-webly this)}

  
;  
  }}
