{:modular (modular.system/modular-env)  ; {:profile "jetty"  :config ["demo.edn" "secrets.edn"]}
 ;:secrets #include "secrets.edn" ;; externalised and usually "mounted" as a docker/kubernetes secret
 :components
 {:config {:start (modular.config/load-config! (:config #ref [:modular]))}
  :exts {:start (extension/discover)}

  :permission {:start (modular.permission.core/start-permissions
                       {} ; empty users map. users only are needed if oauth2 module gets loaded, 
                          ; because without identity-token users cannot be "logged in"
                       )}

  :clj-service {:start (clj-service.core/start-clj-services
                        (clip/ref :permission)
                        (clip/ref :exts))}
  
  :webly {:start (webly.app.app/start-webly
                  (clip/ref :exts)
                  (deref (clip/ref :config))
                  (:profile #ref [:modular]))
          :stop (webly.app.app/stop-webly this)}

;  
  }}
