
/* https://codepen.io/elomatreb/pen/hbgxp  */

pre {
    font-family: monospace;
    background-color: #fff;
    width: em(440);
    margin: 4em auto;
    padding: 0.5em;
    border-radius: 0.25em;
    box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, .45);
    line-height: 0;
    counter-reset: line;
}

pre span {
    display: block;
    line-height: 1.5rem;
}

pre span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 0.5em;
    margin-right: 0.5em;
    color: #888;
}