[:div

  ; unknown renderer
 [:h1 "If a component cannot be found, then this will be displayed:"]
 [:p/bongo 456] ; unknown renderer

  ; exception
 [:h1 "Exception test:"]
 [:p/pinkie {:map-keywords true
             :fix-style false}
  [:p/exc]]]
 
