{:name "service"
 :lazy false
 ; compile time
 :cljs-namespace [goldly.service.core]
 :cljs-bindings {'run goldly.service.core/run
                 'run-a goldly.service.core/run-a
                 'run-cb goldly.service.core/run-cb
                 'wait-chan-result goldly.service.core/wait-chan-result}
}

