{:webly {:title "Goldly"
         :icon "/r/webly/pink-gorilla-32.png"
         :ns-clj [goldly-server.app
                  goldly-server.routes]
         :ns-cljs [goldly.app
                   goldly-server.events
                   goldly-server.developer-tools]
         :routes goldly-server.routes/routes
         :start-user-app [:goldly-server/init]}

 :google-analytics {:enabled false} ; set to false to disable google-analytics tracking.

 :timbre-loglevel [[#{"org.eclipse.jetty.*"} :info]
                   [#{"webly.ws.*"} :info]
                   [#{"webly.*"} :info]
                   [#{"goldly.*"} :info]
                   [#{"user"} :warn] ; time sender
                   [#{"*"} :debug]]

 :keybindings  [{:kb "alt-g k" :handler [:palette/show]           :desc "Keybindings dialog"}
                {:kb "esc"     :handler [:modal/close]            :desc "Dialog Close"} ; for ALL dialogs!
                {:kb "alt-g t" :handler [:reframe10x-toggle] :desc "10x visibility toggle"}
                ; goldly:
                {:kb "alt-g a" :handler [:bidi/goto "/"]  :desc "goto user app"}
                {:kb "alt-g m" :handler [:bidi/goto :goldly/about]  :desc "goto main"}
                {:kb "alt-g r" :handler [:bidi/goto :goldly/repl]  :desc "goto repl"}
                {:kb "alt-g s" :handler [:bidi/goto :goldly/system :system-id :snippet-registry] :desc "goto snippets"}
                ]


 :settings {; settings can be changed by user (via dialog)
            ; :use-localstorage is true: load settings from localstorage, and only use
            ; config-settings to initialize the app when localstorage is empty
            :use-localstorage  false}

 :goldly {:systems [systems.snippet-registry
                    systems.snippet-scratchpad]
          :enabled true}}

