 
{:goldly {:enabled true
          :extensions [[pinkgorilla.input.goldly]
                       [pinkgorilla.ui.goldly] ; gorilla-ui
                       [pinkgorilla.vega.goldly]
                       [pinkgorilla.vega.snippets]
                       [ui.binaryclock.goldly]
                       [ui.quil.goldly]]}}