 
{:goldly {:enabled true
          :extensions [[pinkgorilla.repl.goldly.core]
                       [pinkgorilla.repl.goldly.snippets]
                       [pinkgorilla.input.goldly]
                       [pinkgorilla.vega.goldly]
                       [pinkgorilla.vega.snippets]
                       [pinkgorilla.ui.goldly] ; gorilla-ui
                       [ui.binaryclock.goldly]
                       [ui.quil.goldly]]}}