{:webly {:title "Goldly"
         :icon "/r/webly/pink-gorilla-32.png"
         :ns-clj [goldly.app]
         :ns-cljs [goldly.app]
         :routes goldly.routes/routes
         :start-user-app [:goldly-server/init]}

 :google-analytics {:enabled false} ; set to false to disable google-analytics tracking.

 :timbre-loglevel [[#{"org.eclipse.jetty.*"} :info]
                   [#{"webly.ws.*"} :info]
                   [#{"webly.*"} :info]
                   [#{"goldly.*"} :info]
                   [#{"pinkgorilla.nrepl.*"} :info]
                   [#{"ui.*"} :info]
                   [#{"user"} :warn] ; time sender
                   [#{"*"} :info]]

; :keybindings  goldly-server.keybindings/keybindings-default

 :settings {; settings can be changed by user (via dialog)
            ; :use-localstorage is true: load settings from localstorage, and only use
            ; config-settings to initialize the app when localstorage is empty
            :use-localstorage  false

            :notebook  {:layout :horizontal ; :vertical
                        :view-only false}}

 :nrepl {:enabled true
         :bind "0.0.0.0"
         :port 9100}

 :goldly {:enabled true
          :lazy true
          :src-dir "src"
          :autoload-clj-ns []
          :autoload-cljs-dir [] ;"goldly/cljs"  ; to load cljs files to repl state
          }

;
 }

