{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.pinkgorilla/goldly {:local/root "../goldly" :deps/manifest :deps}
        org.pinkgorilla/devtools {:local/root "../devtools" :deps/manifest :deps}
        org.pinkgorilla/ui-binaryclock {:mvn/version "0.0.14"}
  ;      org.pinkgorilla/ui-echarts {:mvn/version "0.0.3"}
  ;       org.pinkgorilla/ui-cytoscape {:mvn/version "0.0.9"}
        }

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}

  ; https://github.com/weavejester/cljfmt
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "0.8.0"}}
   :main-opts ["-m" "cljfmt.main"
               "--indents" "cljfmt.edn"]}

  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts  ["-m" "nrepl.cmdline"]}

  :tree {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
         :exec-fn clojure.tools.cli.api/tree}


  ; goldy-test
  ; this is a complete deps.edn project used to test goldly.

  ; tests:
  ; - loading of cljs source code files (+ hot reload of cljs files)
  ; - lazy loading  (binaryclock dependency) 
  ; - services

  ; RUN SERVICES (keep running)
  :goldly
  {:extra-deps {nrepl/nrepl {:mvn/version "1.0.0"}
                cider/cider-nrepl {:mvn/version "0.28.3"}}
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :config ["webly/config.edn" "goldly/config.edn" "test-config.edn"]
               :services "test-services.edn"}}


  ; BUILD BUNDLE (then exit)
  :goldly-build 
  {:extra-deps {}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]
   :exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"
               :config ["webly/config.edn" "goldly/config.edn" "test-config.edn"]}}

  :npm-install
  {:exec-args {:profile "npm-install"}}

  :release-adv
  {:exec-args {:profile "release-adv"}}
  
  :goldly-static
  {:extra-deps {}
   :exec-fn goldly.app.static/goldly-static
   :exec-args {:config ["webly/config.edn" "goldly/config.edn" "test-config.edn"]
               :page-symbol "demo.page.main/main-page"
               }}


  

;           
  }}
