{:paths ["src"
         "resources" ; extension , resources used in devtools ui
         ]
 :deps {org.pinkgorilla/goldly {:local/root "../goldly" :deps/manifest :deps}
        org.pinkgorilla/reval {:mvn/version "0.5.108"} ; repl and notebook viewer, brings scratchpad
        org.pinkgorilla/scratchpad {:mvn/version "0.0.10"} ; last pinkie ; todo: remove this.
        org.pinkgorilla/ui-repl {:mvn/version "0.0.50"} ; reagent, format, page-nav,...
        org.pinkgorilla/ui-site {:mvn/version "0.0.18"} ; menu in devtools
        org.pinkgorilla/ui-gorilla {:mvn/version "0.4.11"} ; videos, sparkline, frisk, pprint
        }

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "1.6.2"}}
   :main-opts ["-m"
               "antq.core"]}
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m"
               "clj-check.check"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "clj-kondo.main"
               "--lint"
               "src"]}
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "check"
               "--indents"
               "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "fix"
               "--indents"
               "cljfmt.edn"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                      :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
   :main-opts ["-m"
               "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

;           
  }}
