{:name "reval-sci"
 ; build 
 :lazy true
 :depends-on #{:ui-codemirror :reval-ui :ui-repl :goldly-sci}
 :cljs-namespace [reval.type.sci ; side-effects; load protocols for cljs and sci
                  reval.kernel.cljs-sci ; side-effects multi-method
                  reval.init]
 :cljs-ns-bindings {'reval.kernel.cljs-sci {'eval-cljs  reval.kernel.cljs-sci/eval-cljs}
                    'reval.init {'reval-cljs-kernel-init reval.init/reval-cljs-kernel-init}}
 ; runtime
 :cljs-service {:start-fn reval.init/reval-cljs-kernel-init}}
