{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.clojure/clojure    {:mvn/version "1.10.3"}}

 :aliases {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                      :main-opts ["-m"
                                  "antq.core"]}

           ;; goldly

           :goldly ;; goldly - ui bundle custom build (takes more time)
           {:extra-deps {org.pinkgorilla/goldly {:local/root "../.." :deps/manifest :deps}
                         org.pinkgorilla/ui-input {:mvn/version "0.0.10"}
                         ;org.pinkgorilla/gorilla-ui  {:mvn/version "0.3.48"}
                         org.pinkgorilla/ui-aggrid {:mvn/version "0.0.6"}
                         org.pinkgorilla/ui-leaflet {:mvn/version "0.0.5"}
                         ;org.pinkgorilla/ui-cytoscape {:mvn/version "0.0.3"}
                         }
            :exec-fn goldly-server.app/goldly-server-run!
            :exec-args {:profile "watch2"
                        :config {:webly {:ns-clj [goldly-server.app
                                                  fortune]}
                                 :goldly
                                 {:routes {"" :user/main
                                           "artefacts" :user/artefacts
                                           "bmi" :user/bmi
                                           "fortune" :user/fortune
                                           "iss" :user/iss
                                           "experiment" :user/experiment}}
                                 :systems
                                 [systems.snippet-registry
                                  systems.snippet-scratchpad]}}}

           :goldly-bundel ;; goldly bundel- faster, but no extension config
           {:extra-deps {org.pinkgorilla/goldly-bundel {:mvn/version "RELEASE"}}
            :exec-fn goldly-server.app/goldly-server-run!
            :exec-args {:profile "watch2"
                        :config {:webly {:ns-clj [goldly-server.app
                                                  fortune]}
                                 :goldly
                                 {:routes {"" :user/main
                                           "artefacts" :user/artefacts
                                           "bmi" :user/bmi
                                           "fortune" :user/fortune
                                           "iss" :user/iss
                                           "experiment" :user/experiment}}
                                 :systems
                                 [systems.snippet-registry
                                  systems.snippet-scratchpad]}}}


;           
           }}
