{:name "scratchpad"
 ; build time
 :lazy false  ; we dont have any code, lazy fucks up size report
 :cljs-namespace []
 :cljs-ns-bindings {}
 :cljs-bindings {}
 :pinkie {}
 ; run time
 :clj-require []
 :autoload-cljs-dir ["scratchpad/goldly/lib"
                     "scratchpad/goldly/page"]
 :autoload-clj-ns [scratchpad.handler]}