{:ns-clj []
 :keybindings []
 :goldly {; build
          :lazy true
          ; run-time
          :autoload-cljs-dir []
          :routes {:app {"" :scratchpad}
                   :api {"scratchpad" {:get :scratchpad/get
                                       :post :scratchpad/set}
                         }}}
;
 }

