{:name "demo-services"
 ;runtime
 :clj-services {:name "demo-services"
                :permission  #{}
                :symbols [demo.service/add
                          demo.service/quote
                          demo.service/quote-slow
                          demo.service/ex]}
 
:cljs-routes {;devtools
              "devtools/help" :devtools
              "devtools/repl" :repl
              "devtools/pages" :pages
              "devtools/viewer" :viewer
              "devtools/build" :build
              "devtools/runtime" :runtime
              "devtools/theme" :theme
              ; scratchpad
              "devtools/scratchpad" :scratchpad}

}