{:ns-clj []
 :webly {:title "Goldly"
         ;:ns-clj [goldly.app]
         :ns-cljs [goldly.app]
         :routes goldly.routes/routes
         ;:routes {:app {"" :goldly/no-page
         ;               "goldly/reload" :goldly/reload-cljs}
         ;        :api {}}
         :start-user-app [:goldly/init]}
 :prefix "/r/"
 :google-analytics {:enabled false} ; set to false to disable google-analytics tracking.
 :timbre/clj {:min-level  [[#{"org.eclipse.jetty.*"} :info]
                           [#{"webly.ws.*"} :info]
                           [#{"webly.*"} :info]
                           [#{"goldly.*"} :info]
                           [#{"pinkgorilla.nrepl.*"} :info]
                           [#{"ui.*"} :info]
                           [#{"user"} :warn] ; time sender
                           [#{"*"} :info]]}

; :keybindings  goldly-server.keybindings/keybindings-default

 :settings {; settings can be changed by user (via dialog)
            ; :use-localstorage is true: load settings from localstorage, and only use
            ; config-settings to initialize the app when localstorage is empty
            :use-localstorage  false

            :notebook  {:layout :horizontal ; :vertical
                        :view-only false}}

 :goldly {:lazy true
          :src-dir "src"
          ; runtime
          :autoload-cljs-dir []}


;
 }

