{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.pinkgorilla/goldly {:local/root "../goldly" :deps/manifest :deps}
        org.pinkgorilla/devtools {:local/root "../devtools" :deps/manifest :deps}
        ; GoldlyDOCS deps        
        org.pinkgorilla/ui-binaryclock  {:mvn/version "0.0.12"}
        org.pinkgorilla/ui-input {:mvn/version "0.0.21"}
        org.pinkgorilla/ui-reacttable {:mvn/version "0.0.3"}
        org.pinkgorilla/ui-aggrid {:mvn/version "0.0.14"}
        org.pinkgorilla/ui-vega  {:mvn/version "0.0.28"}
        org.pinkgorilla/ui-highcharts {:mvn/version "0.0.14"}
        org.pinkgorilla/ui-cytoscape {:mvn/version "0.0.7"}
        org.pinkgorilla/ui-leaflet {:mvn/version "0.0.12"}
        org.pinkgorilla/ui-gorilla {:mvn/version "0.4.8"} ; videos, sparkline
        ;org.pinkgorilla/ui-math {:mvn/version "0.0.7"}
        ; non lazy deps
        ;org.pinkgorilla/ui-quil  {:mvn/version "0.1.7"} ; not bundeled (too big)
        }

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "antq.core"]}
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m"
               "clj-check.check"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "clj-kondo.main"
               "--lint"
               "src"]}
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "check"
               "--indents"
               "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "fix"
               "--indents"
               "cljfmt.edn"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                      :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
   :main-opts ["-m"
               "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :build-jar {:deps {io.github.clojure/tools.build {:git/tag "v0.6.1" :git/sha "515b334"}
                     io.github.slipset/deps-deploy {:git/sha "d1fac08888ec8beda0579d3071bb9f804a1d446c"}
                     io.github.seancorfield/build-clj {:git/tag "v0.5.4" :git/sha "bc9c0cc"}
                     ;rewrite-clj/rewrite-clj {:mvn/version "1.0.699-alpha"}
                     babashka/fs {:mvn/version "0.0.5"}
                     org.pinkgorilla/modular {:mvn/version "0.0.31"} ; modular.date
                     }
              :ns-default build
              :jvm-opts ["-Dmaven.wagon.rto=90000"]}


  :deploy-jar
  {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.0"}}
   :exec-fn deps-deploy.deps-deploy/deploy
   :exec-args {:installer :remote
               :artifact "target/webly.jar"}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]}


   ; BUILD BUNDLE (then exit)
  :docs-build  ; used to create goldly-docs jar
  {:extra-deps {}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]
   :exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"
               :config ["webly/config.edn" "goldly/config.edn" "docs/docs-config.edn"]}}

   ;; BUILD UNIT TESTS (then exit)
  :docs-ci
  {:extra-paths ["test"]
   :exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "ci"
               :config ["webly/config.edn" "goldly/config.edn" "goldly/docs-config.edn"]}}

   ; RUN SERVICES (keep running)
  :docs-run
  {:extra-deps {}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty" 
               :config ["webly/config.edn" "goldly/config.edn" "goldly/docs-config.edn"]
               :services "goldly/docs-services.edn"}}

    ;;AUTO EVALUATE NOTEBOOKS

  :nbeval {:extra-paths ["demo"]
           :exec-fn  reval.task/nbeval
           :exec-args {:config "goldly/docs-config.edn"}
           :jvm-opts ["-Dmaven.wagon.rto=90000"]}

 ; tree and list are here just because tools.deps.alpha does not work on my machine
  :tree {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
         :exec-fn clojure.tools.cli.api/tree}
  :list {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
         :exec-fn clojure.tools.cli.api/list}
;           
  }}
