{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.pinkgorilla/goldly {:local/root "../goldly" :deps/manifest :deps}
        org.pinkgorilla/oauth2 {:mvn/version "0.0.18"} ; oauth2 needs to be in docs, because of login-dialogs. rest can be loaded dynamically.
        ;; dev tools/testing
        org.pinkgorilla/devtools {:mvn/version "0.0.18"}
        org.pinkgorilla/ui-binaryclock  {:mvn/version "0.0.14"}
        ;; "ui design in general"
        org.pinkgorilla/ui-repl {:mvn/version "0.0.73"} ; reagent, format, page-nav,...
        org.pinkgorilla/ui-tailwind {:mvn/version "0.0.5"}
        org.pinkgorilla/ui-fonts {:mvn/version "0.0.3"}
        org.pinkgorilla/ui-site {:mvn/version "0.0.29"} ; menu
        org.pinkgorilla/ui-input {:mvn/version "0.0.29"} ; react-spaces rnd ...
        ;; "code-editor/viewer"
        org.pinkgorilla/ui-codemirror {:mvn/version "0.0.38"}
        org.pinkgorilla/ui-highlightjs {:mvn/version "0.0.9"}
        ;; "tables"
        org.pinkgorilla/ui-pprint-frisk {:mvn/version "0.4.15"}
        org.pinkgorilla/ui-reacttable {:mvn/version "0.0.6"}
        org.pinkgorilla/ui-aggrid {:mvn/version "0.0.18"}
        org.pinkgorilla/reagent-table {:mvn/version "0.0.12"}
        org.pinkgorilla/options {:mvn/version "0.0.5"}
        ; ""charts"
        org.pinkgorilla/ui-vega  {:mvn/version "0.0.31"}
        org.pinkgorilla/ui-highcharts {:mvn/version "0.0.22"}
        org.pinkgorilla/ui-cytoscape {:mvn/version "0.0.9"}
        org.pinkgorilla/ui-leaflet {:mvn/version "0.0.14"}
        org.pinkgorilla/ui-echarts {:mvn/version "0.0.3"}
        org.pinkgorilla/ui-sparklines {:mvn/version "0.0.4"}
        org.pinkgorilla/ui-video {:mvn/version "0.0.4"}

        ;org.pinkgorilla/ui-math {:mvn/version "0.0.7"}
        ; non lazy deps
        ;org.pinkgorilla/ui-quil  {:mvn/version "0.1.7"} ; not bundeled (too big)
        ; run by default in goldly-docs-services
        nrepl/nrepl {:mvn/version "1.0.0"}
        cider/cider-nrepl {:mvn/version "0.28.3"}}

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "antq.core"]}
  :check
  {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check.git"
                                 :sha "518d5a1cbfcd7c952f548e6dbfcb9a4a5faf9062"}}
   :main-opts ["-m"
               "clj-check.check"]}

  :lint
  {:extra-deps {clj-kondo/clj-kondo {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "clj-kondo.main"
               "--lint"
               "src"]}
  :cljfmt
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "check"
               "--indents"
               "cljfmt.edn"]}
  :cljfmt-fix
  {:extra-deps {cljfmt/cljfmt {:mvn/version "RELEASE"}}
   :main-opts ["-m"
               "cljfmt.main"
               "fix"
               "--indents"
               "cljfmt.edn"]}
  :test
  {:extra-paths ["test"]
   :extra-deps {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                      :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
   :main-opts ["-m"
               "cognitect.test-runner"]
   :exec-fn cognitect.test-runner.api/test}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 io.github.slipset/deps-deploy {:mvn/version "0.2.1"}
                 babashka/fs {:mvn/version "0.0.5"}
                 org.pinkgorilla/modular {:mvn/version "0.0.39"} ; modular.date
                 }
          :ns-default build
          :jvm-opts ["-Dmaven.wagon.rto=90000"]}


   ; BUILD BUNDLE (then exit)
  :docs-build  ; used to create goldly-docs jar
  {:extra-deps {}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]
   :exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "compile2"
               :config ["webly/config.edn" "goldly/config.edn" "docs/docs-config.edn"]}}

   ;; BUILD UNIT TESTS (then exit)
  :docs-ci
  {:extra-paths ["test"]
   :exec-fn goldly.app.build/goldly-build
   :exec-args {:profile "ci"
               :config ["webly/config.edn" "goldly/config.edn" "goldly/docs-config.edn"]}}

   ; RUN SERVICES (keep running)
  :docs-run
  {:extra-deps {}
   :jvm-opts ["-Dmaven.wagon.rto=90000"]
   :exec-fn modular.system/start!
   :exec-args {:profile "jetty"
               :config ["webly/config.edn" "goldly/config.edn" "goldly/docs-config.edn"]
               :services "goldly/docs-services.edn"}}

    ;;AUTO EVALUATE NOTEBOOKS

  :nbeval {:extra-paths ["demo"]
           :exec-fn  reval.task/nbeval
           :exec-args {:config "goldly/docs-config.edn"}
           :jvm-opts ["-Dmaven.wagon.rto=90000"]}

 ; tree and list are here just because tools.deps.alpha does not work on my machine
  :tree {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
         :exec-fn clojure.tools.cli.api/tree}
  :list {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.14.1178"}}
         :exec-fn clojure.tools.cli.api/list}
;
  }}
