{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.pinkgorilla/goldly {:local/root "../.." :deps/manifest :deps}}

 :aliases
 {:outdated
  {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
   :main-opts ["-m" "antq.core"]}
  
  ;; goldly
  ; this is a complete deps.edn project
  ; it is used to test goldly features 
  ; differences to goldly in main folder:
  ; - demo systems (resources/snippets)
  ; - lazy loading enabled (with binaryclock dependency added) 

  :goldly
  {:extra-deps {org.pinkgorilla/ui-binaryclock {:mvn/version "0.0.12"}
                org.pinkgorilla/ui-cytoscape {:mvn/version "0.0.6"}
                org.pinkgorilla/ui-aggrid {:mvn/version "0.0.11"}
                org.pinkgorilla/ui-highcharts {:mvn/version "0.0.13"}
                org.pinkgorilla/ui-leaflet {:mvn/version "0.0.10"}
                org.pinkgorilla/ui-math {:mvn/version "0.0.8"}}
   :exec-fn goldly-server.app/goldly-server-run!
   :exec-args {:profile "watch2"
               :config "goldly-test.edn"}}

;           
  }}
