{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.pinkgorilla/goldly {:local/root "../.." :deps/manifest :deps}}

 :aliases {:goldly
           {:exec-fn goldly-server.app/goldly-server-run!
            :exec-args {:profile "watch2"
                        :config {:webly {:ns-clj [goldly-server.app
                                                  fortune]}
                                 :goldly
                                 {#_:routes #_{"" :user/main
                                           "artefacts" :user/artefacts
                                           "bmi" :user/bmi
                                           "fortune" :user/fortune
                                           "experiment" :user/experiment
                                          }}
                                  :systems
                                  [systems.snippet-registry
                                   systems.snippet-scratchpad
                                   demo.hello-user]}}}

;           
           }}
