{:paths ["src"
         "resources"
         "target/webly"]
 :deps {org.pinkgorilla/goldly {:local/root "../.." :deps/manifest :deps}}

 :aliases {:goldly
           {:exec-fn goldly-server.app/goldly-server-run!
            :exec-args {:profile "watch2"
                        :config {:webly {:ns-clj [goldly-server.app
                                                  fortune]}
                                 :goldly
                                 {:routes {"" #bidi.bidi.TaggedMatch{:matched :goldly/system, :tag :hello-user}}
                                  :systems
                                  [systems.snippet-registry
                                   systems.snippet-scratchpad
                                   demo.hello-user
                                   ]}}}

;            :routes {}}

           }}

}