{:webly {:ns-clj [goldly-server.app]}
 :goldly
 {:lazy true
  :lazy-exclude #{"ui-binaryclock" 
                  "ui-math" 
                  ;"picasso"
                  }
  ; taggedmatch cannot be read by normal clojure edn reader,
  ; so if using taggedmatch, config needs to be in edn file.
  :routes {"demo" #bidi.bidi.TaggedMatch{:matched :goldly/system, :tag :hello-user}}
  :systems
  [systems.snippet-registry
   systems.snippet-scratchpad
   demo.hello-user]}}