{:name "devtools"
 ; build time
 :lazy false  ; we dont have any code, lazy fucks up size report
 :cljs-namespace []
 :cljs-ns-bindings {}
 :cljs-bindings {}
 ; run time
 :clj-require []
 :autoload-cljs-dir ["goldly/lib"
                     "goldly/devtools"]
 :autoload-clj-ns []}