{:name "goldly-sci"
 ; build
 :lazy false
 :cljs-namespace [goldly.sci
                  goldly.sci.error
                  goldly.sci.eventhandler ; move to ui-repl or ui-gorilla
                  ;goldly.page.no-page
                  ;goldly.static.app ; not possible, creates cyclic dependency.
                  ]
 :cljs-ns-bindings {'goldly.sci {'require-async goldly.sci/require-async
                                 'compile-sci goldly.sci/compile-code
                                 'compile-sci-async goldly.sci/compile-code-async
                                 'resolve-symbol-sci goldly.sci/resolve-symbol
                                 'requiring-resolve goldly.sci/requiring-resolve}

                    'goldly.sci.eventhandler {'eventhandler-fn  goldly.sci.eventhandler/eventhandler-fn}
                    'goldly.sci.error {'error-view goldly.sci.error/error-view
                                       'exception->error goldly.sci.error/exception->error}}}

