{:name "goldly"
 :clj-require []
 :cljs-namespace [clojure.walk
                  applied-science.js-interop
                  ; oauth2
                  modular.oauth2.token.ui
                  modular.oauth2.user.view
                  ; goldly
                  goldly.page.page
                  goldly.page.no-page
                  goldly.service.core
                  goldly.sci.helper
                  goldly.sci.eventhandler
                  modular.ws.core
                  ]
 :cljs-bindings {'add-page goldly.page.page/add-page ; depreciated - use page/add
                 'run goldly.service.core/run
                 'run-a goldly.service.core/run-a
                 'run-cb goldly.service.core/run-cb
                 'wait-chan-result goldly.service.core/wait-chan-result
                 'send! modular.ws.core/send!
                 'value-of goldly.sci.helper/value-of
                 'obj->clj goldly.sci.helper/obj->clj
                
                 }
 :cljs-ns-bindings {'goldly {'compile-time compile-time
                             'bindings bindings-generated ; no ns here, as this are added to goldly-bindings-genreated
                             ;'bindings-ns goldly-bindings-generated/ns-generated ; cannot do this, as this publishes itself
                             'eventhandler  goldly.sci.eventhandler/eventhandler-fn
                             }
                    'page {'available goldly.page.page/available-pages
                           'show goldly.page.page/show-page
                           'add goldly.page.page/add-page}

                     'oauth2 {'provider-status-grid modular.oauth2.token.ui/provider-status-grid
                              'user-login modular.oauth2.user.view/user-login}

                    'j {'get applied-science.js-interop/get
                        'call applied-science.js-interop/call
                        'get-in applied-science.js-interop/get-in
                        'call-in applied-science.js-interop/call-in
                        'obj applied-science.js-interop/obj}

                    'walk {'postwalk clojure.walk/postwalk
                           'prewalk clojure.walk/prewalk
                           'keywordize-keys clojure.walk/keywordize-keys
                           'walk clojure.walk/walk
                           'postwalk-replace clojure.walk/postwalk-replace
                           'prewalk-replace clojure.walk/prewalk-replace
                           'stringify-keys clojure.walk/stringify-keys}}
 :lazy false
 :pinkie {;:p/goldly goldly.system.ui/system
          }}

