{:paths ["src"
         "resources" ; extension
         ]
 :deps {org.babashka/sci.configs {:git/url "https://github.com/babashka/sci.configs.git"
                                  :sha "ffa88d796a3a2fe0a0fce332c6bf56f36b7c5cd7"}
        ; sci configs is working with this versions:
        applied-science/js-interop  {:mvn/version "0.4.2"}
        hoplon/javelin {:mvn/version "3.9.3"}

        funcool/promesa {:mvn/version "11.0.674"}
        ; reagent/reagent {:mvn/version "1.1.0"}
        ; re-frame/re-frame {:mvn/version "1.3.0"}

        cljs-ajax/cljs-ajax {:mvn/version "0.8.4"} ; needed for re-frame/http-fx
        }
;
 }