{
 :reval {:rdocument  {:storage-root "rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:demo [:clj "demo/notebook/"]
                       :cljs [:cljs "demo/notebook/"]}}

;
 }
