{:ns-clj [demo.service]
 :keybindings []
 :goldly {; build
          :lazy true
          :lazy-exclude #{;"ui-binaryclock"  ; test for excluding lazy extensions from lazy build
                          "ui-math"
                          "ui-input"}
          ; run
          :autoload-cljs-dir ["demo/page"]
          :routes {:app {"" :user/main
                         "scicompile" :user/scicompile
                         "lazy" :user/lazy
                         "error" :user/error
                         "select" :user/select
                         "service" :user/service
                         "tick" :user/tick

                         ;devtools
                         "devtools/help" :devtools
                         "devtools/repl" :repl
                         "devtools/pages" :pages
                         "devtools/scratchpad" :scratchpad
                         "devtools/viewer" :viewer
                         "devtools/build" :build
                         "devtools/runtime" :runtime
                         "devtools/theme" :theme
                         }
                   :api {"rdocument/ns" :rdocument/ns
                         "rdocument/files" :rdocument/files
                         ["rdocument/file/" :ns "/" :name] :rdocument/file}}

           :watch-cljs-dir "src/demo"

          }


 :clj-services {:name "demo-services"
                :symbols [demo.service/add
                          demo.service/quote
                          demo.service/quote-slow
                          demo.service/ex]
                :permission  #{}}

 
 :reval {:rdocument  {:storage-root "rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:demo [:clj "demo/notebook/"]
                       :cljs [:cljs "demo/notebook/"]}}

;
 }
