{:keybindings []
 :goldly {; build
          :lazy true
          :lazy-exclude #{;"ui-binaryclock"  ; test for excluding lazy extensions from lazy build
                          "ui-math"
                          "ui-input"}
          ; run
          :autoload-cljs-dir ["demo/page"]
          :routes {:app {"" :user/main
                         "scicompile" :user/scicompile
                         "lazy" :user/lazy
                         "error" :user/error
                         "select" :user/select
                         "service" :user/service
                         "tick" :user/tick}
                   :api {}}

           :watch-cljs-dir "src/demo"

          }
 
 :reval {:rdocument  {:storage-root "rdocument/"
                      :url-root "/api/rdocument/file/"}
         :collections {:demo [:clj "demo/notebook/"]
                       :cljs [:cljs "demo/notebook/"]}}

;
 }
